.footer {
    width: 100%;
    max-width: $container-max;
    font-size: 12px;
    padding-top: 50px;
    // background: red;
    margin: auto;

    .fLists {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;


    }

    .fListItem {
        margin-bottom: 10px;
        // background: red;
        color: $base-color;
        cursor: pointer;
        list-style: none;
    }

    .fList {
        list-style: none;

    }

    .fText {
        text-align: center;
        padding-bottom: 40px;
    }
}