.HeaderComp {
    background: $base-color;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;

    .headerContainer.listMode {
        margin: 20px 0 0 0;
    }

    .headerContainer {
        width: 100%;
        max-width: $container-max;
        margin: 20px 0 100px 0;

        .headerList {
            display: flex;
            gap: 40px;
            margin-bottom: 50px;


            .headerListItem {
                display: flex;
                align-items: center;
                gap: 10px;

                &.active {
                    border: 1px solid white;
                    padding: 10px 12px;
                    border-radius: 50px;
                }
            }
        }

        .headerDesc {
            margin: 20px 0;
        }

        .headerBtn {
            color: white;
            font-weight: 500;
            border: none;
            padding: 10px;
            background: $second-color;
            cursor: pointer
        }


        .headerSearch {
            // height: 30px;
            background: white;
            border: 3px solid $border-color;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px 0;
            border-radius: 5px;
            position: absolute;
            bottom: -25px;
            width: 100%;
            max-width: $container-max;

            .headerSearchItem {
                display: flex;
                align-items: center;
                gap: 10px;

                cursor: pointer;

                .headerSearchInput {
                    border: none;
                    outline: none;
                }

                .headerSearchText {
                    color: $abu-mudah;
                }

                .headerIcon {
                    color: $abu-mudah;
                }

                .date {
                    position: absolute;
                    top: 65px;
                    z-index: 2;
                }


                .options {
                    position: absolute;
                    z-index: 2;
                    top: 65px;
                    background-color: white;
                    color: gray;
                    border-radius: 5px;
                    box-shadow: 0 0 10px -5px rgba($color: #000000, $alpha: 0.4);

                    .optionsItem {
                        width: 200px;
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;

                        .optionCounter {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-size: 15px;

                            .optionCounterButton {
                                display: flex;
                                height: 30px;
                                width: 30px;
                                align-items: center;
                                justify-content: center;
                                border: 3px solid #7201f317;
                                cursor: pointer;
                                border-radius: 50%;
                                background-color: white;
                                transition: .2s;

                                &:hover {
                                    background: rgba($color: #000000, $alpha: 0.05)
                                }

                                &:active {
                                    border: 3px solid #7201f371;
                                }

                                &:disabled {
                                    cursor: not-allowed;
                                }
                            }

                            .optionCounterNumber {
                                width: 20px;
                            }
                        }
                    }
                }
            }

        }
    }
}