.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .listWrapper {
        width: 100%;
        max-width: $container-max;
        display: flex;
        gap: 20px;



        .listResult {
            flex: 3;
        }

    }
}